name: Linux CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v2
    - name: Install Ubuntu dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libenet-dev libsdl2-mixer-dev
    - name: Compile Duke3D
      run: ./build_linux.sh
